$offset: 3rem
$coordOffset: 0.5rem
$black: #ae6227
$white: #ffe4b0

.chess-board
    position: relative
    padding: $offset

    &__coords
        position: absolute
        display: flex
        user-select: none

        &--horizontal
            left: $offset
            right: $offset
            .chess-board__coords-item
                line-height: $offset - $coordOffset

        &--vertical
            bottom: $offset
            top: $offset
            flex-direction: column
            width: $offset - $coordOffset

            .chess-board__coords-item
                display: flex
                flex-direction: column
                justify-content: center

        &--top
            top: $coordOffset

        &--bottom
            bottom: $coordOffset

        &--left
            left: $coordOffset

        &--right
            right: $coordOffset

    &__coords-item
        flex-shrink: 0
        flex-grow: 1
        text-align: center
        font-size: 1.3em
        font-weight: bold

    &__cells
        display: flex
        flex-wrap: wrap
        border: 1px solid $black

    &__cell
        flex-shrink: 0
        width: (100%/8)
        background: #ffe4b0
        position: relative
        overflow: hidden

        &:after
            content: ""
            display: block
            padding-bottom: 100%

        &:before
            content: ""
            position: absolute
            //left: 0
            //right: 0
            //top: 0
            //bottom: 0
            left: 50%
            top: 50%
            transform: translate3d(-50%,-50%,0)
            border-radius: 50%
            width: 20px
            height: 20px

        &--black
            background-color: $black

        &--over
            &:before
                background: rgba(#AE8227,0.5)
                width: 100%
                height: 100%
                border-radius: 0

        &--possible-step
            &:before
                transition: 0.4s
                background: rgba(#007207, 0.8)

        &--over#{&}--possible-step
            &:before
                transition: 0.25s
                border-radius: 50%
                width: 140%
                height: 140%
                background: rgba(#18AF22, 0.85)



